body {
    background-color: #F8F9FA; /* خلفية خفيفة */
    color: #126782; /* اللون الأساسي */
    display: flex;
    flex-direction: column;
    height: 100vh; /* تأكد من أن الجسم يأخذ كامل ارتفاع الشاشة */
    margin: 0;
    }
  header {
    background-color: #023047; /* لون الهيدر */
    color: #FFF;
    flex: 0 1 auto; /* الهيدر يظل في مكانه في الأعلى */
    padding: 10px;
  }
  .nav-link {
    color: #8ECAE6!important;
  }
  .text-decoration-none {
    color: #ffffff;
  }
  main {
    background-color: #FFF; /* لون خلفية الأقسام */
  }
  .unit-card, .activity-card, .insight-card {
    border: 1px solid #219EBC;
    border-radius: 10px;
    background-color: #FFF;
  }
  button, .btn {
    background-color: #FD9E02; /* اللون البرتقالي */
    color: #fff; /* لون النص الأبيض */
    border: none; /* إزالة الحدود */
    padding: 10px 20px; /* ضبط الحشوة */
    border-radius: 5px; /* حواف دائرية */
    cursor: pointer; /* مؤشر عند التمرير */
    font-size: 16px; /* حجم النص */
    transition: background-color 0.3s ease; /* تأثير تغيير اللون */
  }
  
  button:hover, .btn:hover {
    background-color: #FFB703; /* لون أفتح عند التمرير */
  }
  footer {
    background-color: #023047;
    color: #FFF;
    flex: 0 1 auto; /* الفوتر يظل في أسفل الصفحة */
    margin-top: auto; /* يضمن أن الفوتر يتحرك للأسفل */
    color: white;
    padding: 10px;
    text-align: center;
  }
  footer a {
    color: #8ECAE6 !important;
  }
  footer a:hover {
    color: #fb0000;
  }
  main {
    flex: 1; /* المساحة المتبقية بعد الهيدر والفوتر */
  }